In [12]:
import pandas as pd
filepath=('DataFiles/income.csv')
def readfile(filepath):
    return pd.read_csv(filepath)
readfile(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [13]:
filepath='DataFiles/income.csv'
def readrow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
incomedf=readfile(filepath)
readrow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [15]:
incomedf=readCSVdata(filepath)
def stateavg(df,key):
    li=[]
    for row in df.values:
        if key in row:
            for item in row:
                li.append(item)
    #print(li[2:11])
    s=sum(li[2:11])
    a=s/len(li[2:11])
    return a
stateavg(incomedf,'Alaska')

NameError: name 'readCSVdata' is not defined

In [4]:
# Average Income of all states from 2005 to 2013
filepath='DataFiles/income.csv'
def allstatesavg(df):
    avgli=[]
    for row in df.values:
        h=stateavg(df,row)
        avgli.append(h)
    return avgli
allstatesavg(incomedf)

[41126.444444444445,
 60106.555555555555,
 60106.555555555555,
 38828.88888888889,
 55350.444444444445]

In [5]:
def display(df):
    print(df.values)
display(incomedf)

[['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
  41381]
 ['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
  61137]
 ['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
  50602]
 ['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
  39919]
 ['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367
  57020 57528]]

In [9]:
def stateavg2(df,key,year):
    li=[]
    for row in df.values:
        if key in row:
            for item in row:
                li.append(item)
    #print(li[2:11])
    s=sum(li[2:11])
    a=s/len(li[2:11])
    return a
stateavg2(incomedf,'Alaska','2005')

60106.555555555555

In [16]:
def getRowIndex(df,key):
    for i in range(len(df.values)):
        if df.values[i][0]==key or df.values[i][1]==key:
            rindex=i
    return rindex
getRowIndex(incomedf,'Alaska')

1

In [18]:
def getColIndex(df,key):
    for i in range(len(df.values)):
        if df.columns[i]==key:
            cindex=i
    return cindex
getColIndex(incomedf,'2005')

2

In [20]:
def allstatesavg2(df):
    d={}
    cindex=getColIndex(df,'State')
    for i in range(len(df.values)):
        s=df.values[i][cindex]
        d[s]=stateavg2(df,s,'2005')
    print(d)
allstatesavg2(incomedf)

{'Alabama': 41126.444444444445, 'Alaska': 60106.555555555555, 'Arizona': 48967.88888888889, 'Arkansas': 38828.88888888889, 'California': 55350.444444444445}

In [21]:
# average income from 2007 to 2010(inclusive) for one state
def avgfrom07to10_1(df,key):
    li=[]
    for row in df.values:
        if key in row:
            for item in row:
                li.append(item)
    s=sum(li[4:8])
    a=s/len(li[4:8])
    return a
avgfrom07to10_1(incomedf,'Alaska')

61608.5

In [27]:
def lowavgincomeo7to10_forall_1(df):
    d={}
    for row in df.values:
        d[row[1]]=avgfrom07to10(df,row)
    print(d)
    return min(d.items())
lowavgincomeo7to10_forall_1(incomedf)

{'Alabama': 41900.25, 'Alaska': 61608.5, 'Arizona': 61608.5, 'Arkansas': 38876.5, 'California': 55791.25}

('Alabama', 41900.25)

In [32]:
a=("Python programming")
b=list(a)
print(b)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [33]:
a=("Python programming")
print(a.split())

['Python', 'programming']

