In [2]:
import pandas as pd
filepath='DataFiles/income.csv'
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:

incomedf=readCSVdata(filepath)
def accessDataFrameRow(df,key):
    
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ' )
    return
accessDataFrameRow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [25]:
incomedf=readCSVdata(filepath)
def stateavg(df,key):
    li=[]
    for row in df.values:
        if key in row:
            for item in row:
                li.append(item)
    #print(li[2:11])
    s=sum(li[2:11])
    a=s/len(li[2:11])
    return a
stateavg(incomedf,'Alaska')

60106.555555555555

In [26]:
# Average Income of all states from 2005 to 2013
incomedf=readCSVdata(filepath)
def allstatesavg(df):
    avgli=[]
    for row in df.values:
        h=stateavg(df,row)
        avgli.append(h)
    return avgli
allstatesavg(incomedf)

[41126.444444444445,
 60106.555555555555,
 60106.555555555555,
 38828.88888888889,
 55350.444444444445]

In [29]:
# average income in the last three years
incomedf=readCSVdata(filepath)
def last3years_state(df,key):
    li=[]
    for row in df.values:
        if key in row:
            for item in row:
                li.append(item)
    #print(li[2:11])
    s=sum(li[-3:])
    
    a=s/len(li[-3:])
    return a
last3years_state(incomedf,'Alaska')

60738.666666666664

In [32]:
#State with highest average income in the last three years
incomedf=readCSVdata(filepath)
def last3years_allstates(df):
    last3avg=[]
    for row in df.values:
        h=last3years_state(df,row)
        last3avg.append(h)
    print(last3avg)
    return max(last3avg)
last3years_allstates(incomedf)

[42478.333333333336, 48755.666666666664, 48755.666666666664, 40079.666666666664, 55971.666666666664]

55971.666666666664

In [41]:
# average income from 2007 to 2010(inclusive) for one state
def avgfrom07to10(df,key):
    li=[]
    for row in df.values:
        if key in row:
            for item in row:
                li.append(item)
    s=sum(li[4:8])
    a=s/len(li[4:8])
    return a
avgfrom07to10(incomedf,'Alaska')

61608.5

In [43]:
# State with lowest average income from 2007 to 2010(inclusive)
def lowavgincomeo7to10_forall(df):
    avgli=[]
    for row in df.values:
        g=avgfrom07to10(df,row)
        avgli.append(g)
    print(avgli)
    return min(avgli)
lowavgincomeo7to10_forall(incomedf)

[41900.25, 61608.5, 61608.5, 38876.5, 55791.25]

38876.5

In [47]:
# Print the list of all states in the same line with average income less than California
def avglessthancalifornia(df,key):
    #key='California'
    
    california_avg=stateavg(df,key)
    print('caliaa=====',california_avg)
    for row in df.values:
        avg=stateavg(df,row)
        if(avg<california_avg):
            print(row[1],avg)
    return
avglessthancalifornia(incomedf,'California')

caliaa===== 55971.666666666664
Alabama 42478.333333333336
Alaska 48755.666666666664
Arizona 48755.666666666664
Arkansas 40079.666666666664

In [48]:
import pandas as pd
filepath='DataFiles/income.csv'
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [65]:

incomedf=readCSVdata(filepath)
def dict_2009(df):
    d={}
    for row in df.values:
        print(row[1])
    return
dict_2009(incomedf)

Alabama
Alaska
Arizona
Arkansas
California

In [80]:
# State with the lowest recorded income from 2005 to 2013

#def lowestincome(df):

incomedf=readCSVdata(filepath)
def income(df,key):
    li=[]
    for row in df.values:
        if key in row:
            for item in row:
                li.append(item)
    li=li[2:11]
    return li
income(incomedf,'Alaska')

[55891, 56418, 62993, 63989, 61604, 57848, 57431, 63648, 61137]

In [86]:
incomedf=readCSVdata(filepath)
def lowestrecordedincome_05to13(df):
    minimum=0
    allmin=[]
    for row in df.values:
        li=income(df,row)
        print(min(li))
        allmin.append(min(li))
    return min(allmin)
lowestrecordedincome_05to13(incomedf)

37150
55891
55891
36538
51755

36538