In [ ]:
#avg all factorials in given range
#generate n odd amstrong numbers im given range
#multiplication table for given range(n,lb,ub)

In [33]:
#generate avg of factorials in given range
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

def avgfact(lb,ub):
    s=0
    for i in range(lb,ub+1):
        s=s+fact(i)
    return s/(ub-lb)+1
avgfact(2,4)

17.0

In [12]:
# generate n odd amstrong numbers
def noddamstrong(lb,ub):
    for i in range(lb,ub+1):
        len1=len(str(i))
        j=i
        s=0
        while(j!=0):
            r=j%10
            s=s+r**len1
            j=j//10
        if(s==i and i%2==1):
            print(i)
    return

In [16]:
noddamstrong(10,100000)

153
371
407
92727

In [21]:
# multiplication table for given range(n,lb,ub)
def multable(n,lb,ub):
    for i in range(lb,ub+1):
        print(n," *",i," = ",n*i)
    return

multable(100,10,15)

100  * 10  =  1000
100  * 11  =  1100
100  * 12  =  1200
100  * 13  =  1300
100  * 14  =  1400
100  * 15  =  1500

In [1]:
#Function to Generate all years in given range
#isleapyear(year)
#generateLeapYears(start,end)
def isLeapYear(y):
    if y%400==0 or (y%100!=0 and y%4==0):
        return True
    else:
        return False


def GenarateLeapYears(start,end):
    for i in range(start,end+1):
        if isLeapYear(i)==True:
            print(i,end=" ")
            
GenarateLeapYears(1940,2000)

1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000

In [2]:
# Calculate no.of Days in the given time period using leapyear logic
#for every in the given year is not a leap year - add 3
def no_of_daysbetween(y1,y2):
    s=0
    for i in range(y1,y2+1):
        if isLeapYear(i)==True:
            s=s+366
        else:
            s=s+365
    return s
no_of_daysbetween(2018,2020)

1096

In [3]:

def NoofDaysbetween(y1,y2):
    s=0
    for i in range(y1,y2):
        if(isLeapYear(i)==True):
            s=s+366
        else:
            s=s+365
    return s
NoofDaysbetween(2018,2020)

730

In [8]:
# # Calculate to number of hours for a given period 
#(11,1975,03,1999)
def NoofHoursbetween(m1,y1,m2,y2):
    s1=0
    s2=0
    h=NoofDaysbetween(y1+1,y2)
    if(isLeapYear(y1) and m1<=2):
        s1=12-m1
        h=h+s1+1
    else if not(isLeapYear(y1):
        s1=12-m1
        h=h+s1
    if(isLeapYear(y2) and m2<=2):
        s2=12-m2
        h=h+s2+1
    else:
        s2=12-m2
        h=h+s2
    return h*24
NoofHoursbetween(11,1975,3,1999)

201864

In [9]:
NoofHoursbetween(5,2019,6,2019)

312

In [20]:
def numofDaysMonth(month,year):
    if month==2:
        if isLeapYear(year):
            return 29
        else:
            return 28
    if (month<=7 and month%2!=0) or (month>=8 and month%2==0):
        return 31
    else:
        return 30
numofDaysMonth(4,2019)

30

In [22]:
def daysInStartYear(startmonth,startyear):
    days=0
    for month in range(startmonth,12+1): #it calculate 12th month also
        days=days+numofDaysMonth(month,startyear)
    return days

#daysInStartYear(6,2019)-->214
##daysInStartYear(11,2019) -->61

def daysInEndYear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days=days+numofDaysMonth(month,endyear)
    return days

daysInEndYear(6,2019) #-->no.of days from jan to june
daysInEndYear(2,2020) #-->no.of days in jan(31)+ feb(29)

def numberofHours(startmonth,startyear,endmonth,endyear):
    days=0
    days=days+daysInStartYear(startmonth,startyear)
    days=days+daysInEndYear(endmonth,endyear)
    if(endyear-startyear==1):
        days=days+NoofDaysbetween(startyear+1,startyear+1)
    elif endyear-startyear>2:
        days=days+NoofDaysbetween(startyear+1,endyear-1)
    return 24*days

numberofHours(11,1975,3,1999)

196488

In [ ]:
def threenplusone(lb,ub):
    big=0
    for i in range(lb,ub+1):
        j=i
        c=0
        while(j!=1):
            if(j%2==0):
                j=j//2
            else:
                j=3*j+1
            c=c+1;
        if(c>big):
            big=c
    return big

In [ ]:
threenplusone(1,10)