In [ ]:
# k Lowest Frequency 
def kLowestFrequency(s, k):
    # Construct the frequency dictionary for all unique characters
    #unique = []
    freq = {}
    for i in s:
        if i not in freq.keys():
            freq[i] = s.count(i)
            
    # Extract unique frequencies in descending order
    values = sorted(freq.values(), reverse=True)
    uniqueValues = list(set(values))
    uniqueValues = sorted(uniqueValues, reverse=True)
    
    # Identify Kth largest frequency
    if k < len(uniqueValues):
        kvalue = uniqueValues[k-1]
    else:
        return -1

    # Get all elements with Kth largest frequency
    li = []
    for item in freq.items():
        if item[1] == kvalue:
            li.append(item[0])
    # Minimum of Kth Largest frequency
    return min(li)
kLargestFrequency([9,8,7,6,5,2,3,4,9,6,7,7,7,6,7,6],3)

In [4]:
# Function to print all combinations of pairs of integers in a unique list
#[1,2,3] -->(1,2),(1,3),(2,3) -> 3 sets of 2 cominations -->3c2 -->3!/(3-2)!*2! -->6/2->3
#[1,2,3,4] --> (1,2) ,(1,3), (1,4), (2,3), (2,4), (3,4)
def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
combinations([1,2,3,4])

1 2
1 3
1 4
2 3
2 4
3 4

In [10]:
#-[1,2,3,4] -->(1,2,3  1,2,4  1,3,4  2,3,4)
def combinationsof3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
combinationsof3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [20]:
def DifferencePairs(li):
    
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
    return li
# DifferencePairs([1,5]) -->[1,5,4]-->diif of 1-5 is 4
DifferencePairs([1,9])

[1, 9, 8]

In [27]:
def DifferencePairs2(li):
    cli=li
    newelements=[]
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d=abs(int(li[i])-int(li[j]))
            if d not in cli:
                newelements.append(d)
    return newelements
#DifferencePairs2([1,9,8]) -->[7]
#DifferencePairs2([1,9,8,7]) -->[6,2]
#DifferencePairs2([1,9,8,7,6,2]) -->[5,3,5,4]
#DifferencePairs2([1,9,8,7,6,2,5,3]) -->[4,4,4,4]
DifferencePairs2([1,9,8,7,6,2,5,3,4])

[]

In [33]:
def DifferencePairs3(li):
    cli=li.copy()
    newelements=[]
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d=abs(int(li[i])-int(li[j]))
            if d not in cli and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]

        
#DifferencePairs3([1,3,2]) -> [[1, 3, 2], [1, 3, 2]]
#DifferencePairs3([1,3,5]) --> [[1, 3, 5], [1, 3, 5, 2, 4]]
DifferencePairs3([2,3,6,9,12])

[[2, 3, 6, 9, 12], [2, 3, 6, 9, 12, 1, 4, 7, 10]]

In [28]:
def DifferencePairs2(li):
    cli=li.copy()
    newelements=[]
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li
DifferencePairs2([2,3,6,9,12])

[2, 3, 6, 9, 12, 1, 4, 7, 10]

In [34]:
def medium(li,k):
    count=1
    while(True):
        li3=DifferencePairs3(li)
        if li3[0]==li3[1]:
            break
    if len(li3[0] >= k):
        return sorted(li3[0],reverse=True)[k]
    return -1
medium([1,9,8],5)

TypeError: '>=' not supported between instances of 'list' and 'int'

In [ ]:
with open('DataFiles/medium-input.txt','r'):
    t=int(f.readline())
    for i in range(t):
        f.readline()
        li=f.readline().split()
        k=int(f.readline())

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
#convert the list into an arthametic progression
[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [3]:
s="hi hello welcome to hello hi hi hi hiooo"
s1="hi"
li=s.split()
print(li)
c=0
for i in range(len(li)):
    if(li[i]==s1):
        c=c+1
print(c)
s=s.replace(s1,"Java",c)
print(s)

['hi', 'hello', 'welcome', 'to', 'hello', 'hi', 'hi', 'hi', 'hiooo']
4
Java hello welcome to hello Java Java Java hiooo

## Set - Data Structure in python
Represented by {}

In [35]:
a={1,2,3,4,5,6,6}
a #it dispaly unique data

{1, 2, 3, 4, 5, 6}

In [37]:
a.add(7)
a

{1, 2, 3, 4, 5, 6, 7}

In [38]:
a[1] #in set dont allow to access using index

TypeError: 'set' object is not subscriptable

In [39]:
for i in a:
    print(i,end=" ") #accessing elements

1 2 3 4 5 6 7

In [41]:
b={7,8,9}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
b

{7, 8, 9}

In [43]:
x={1,2,3,4,5}
y={3,4,5,8,9}
x.update(y)
x

{1, 2, 3, 4, 5, 8, 9}

In [44]:
y

{3, 4, 5, 8, 9}

In [45]:
m={7,8,9,1,2,3}
li=[11,12,13]
a.update(b,li) #adding multiple elements even allow list also into set
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [46]:
a.discard(13) #it can allow by using element not by index

In [47]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [48]:
a.discard(5)

In [49]:
a

{1, 2, 3, 4, 6, 7, 8, 9, 11, 12}

In [54]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
a.union(b)

# A U B =B U A
#same way a.union(b) = b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [55]:
a.intersection(b)

{1, 2, 3}

In [56]:
b.intersection(a)

{1, 2, 3}

In [58]:
a={10,20,30}
b={1,2,3}
a.isdisjoint(b)

True

In [61]:
a={1,2,3,4,5}
b={2,3,5,6,9}
a-b #all elements of a which are

{1, 4}

In [62]:
c={1,2,3}
d={6,7,9}
c-d

{1, 2, 3}

In [63]:
a={1,7,8,3,4,5,6,10,11}
sorted(a)

[1, 3, 4, 5, 6, 7, 8, 10, 11]

In [65]:
a

{1, 3, 4, 5, 6, 7, 8, 10, 11}

In [66]:
b

{2, 3, 5, 6, 9}

In [64]:
a^b #elements either in a or b(uncommon a)

{1, 2, 4, 7, 8, 9, 10, 11}

In [67]:
c={1,2,3}
d={3,4,5}
c^d

{1, 2, 4, 5}

In [68]:
h = set() #create an empty set

In [69]:
h

set()

In [70]:
li=[1,2,3,4,2,1,2,3,4]
u=set(li) #set remove the all duplicate elements from list and return unique data
u

{1, 2, 3, 4}

Procedural : C

Object Oriented: Java , python (php is also bit object oriented)

Scripting : PHP, Python, Javascrpt, Shell
    
Functional : Python, Haskell, Scala
    
Logic : Prolog, Lisp

## List Comprehensions

In [72]:
# N Natural Numbers in a list

#general way
n=10
li=[]
for i in range(1,n+1):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
# Apply List Comprhension to store the cube of n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [81]:
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)

#apply list comprehension to calculate factorial of n natural numbers

n=12
factlist=[factorial(i) for i in range(1,n+1)]
factlist

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800, 39916800, 479001600]

In [94]:
# Store Cumulative sum of numbers till n in list
# n=3,[1,3,6]
# n=5 [1,3,6,10,15]
n=5
cumsumlist=[sum([i]) for i in range(1,n+1)]
cumsumlist

[1, 2, 3, 4, 5]

In [95]:
n=5
cumsumlist=[sum(range(1,i+1)) for i in range(1,n+1)]
cumsumlist

[1, 3, 6, 10, 15]

In [90]:
def csum1(n):
    s=0
    for i in range(n+1):
        s=s+i
    return s
n=5
cumlist = [csum1(i) for i in range(1,n+1)]
cumlist

[1, 3, 6, 10, 15]

In [105]:
# Function to Store only leap years in given time peroid

# List Comprehension to store leap years 
st=1970
et=2019
leapyears=[i for i in range(st,et+1) if i%400==0 or (i%100!=0 and i%4==0)]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [114]:
li=[1,2,3,2,1]
unique=[]
unique=[li[i] for i in range(len(li)) if li[i] not in unique]
unique

[1, 2, 3, 2, 1]

In [122]:
li=[1,2,3,2,1]
unique=[]
u2=[]
unique=[u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3]

In [123]:
li

[1, 2, 3, 2, 1]

In [125]:
sorted(li)[2]

2

In [126]:
sorted(li)[4]

3

In [129]:
li=[1,2,3,4,3,2,4,5,4,3,2,1]
li.sort()
unique=[]
unique=[li[i] for i in range(0,len(li)-1) if li[i] !=li[i+1]]
unique

[1, 2, 3, 4]

In [131]:
li=[1,2,3,2,1,4,5,3,4,5,2,1]
li.sort()
u2=[]
[u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3, 4, 5]

## Iterators
Iterable - Strings, list, tuples, Sets, Dictionaries (for i in li, for i in str, for i in s..)

Convert Iterable to Iterator -> iter()

For Loop: 


Iterator:

In [132]:

it=iter('Python')
next(it)

'P'

In [133]:
next(it)

'y'

In [138]:
it1=iter('python')

print('1: ')
print(next(it))

print('\n')
print(next(it))

1:
p


y

## Generators

Generator is user defined Function

In [147]:

def generator():
    n=2
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
a=generator()
next(a)

2

In [148]:
next(a)

8

In [149]:
next(a)

512

In [150]:
next(a) -->Error because here use only 3 yields the function is call in 4th time

StopIteration:

In [151]:
def generator2():
    n=2
    for i in range(1,5):
        n**=3
        yield n
a=generator2()
next(a)

8

In [152]:
next(a)

512

In [153]:
next(a)

134217728

In [158]:
def generator2():
    n=3
    for i in range(1,5):
        n**=3
        yield n
a=generator2()
next(a)
for i in range(5):
    print(next(a))

19683
7625597484987
443426488243037769948249630619149892803

StopIteration: