In [ ]:
# Read all the individual scores of the batsmen
# and print thier rankings based on the scores
# devi 10
# mani 13
# lalli 22
# narmada 9
# Lalitha 12

# 1 - Lalli
# 2 - mani
# 3 - Lalitha
# 4 - devi
# 5 - Narmada

In [1]:
# read differ scores
d={}
n=int(input())
for i in range(n):
    name=input("Enter name")
    score=int(input("Enter score"))
    d[name]=score
print(d)

3
Enter nameLalli
Enter score23
Enter namedevi
Enter score15
Enter nameMani
Enter score14
{'Lalli': 23, 'devi': 15, 'Mani': 14}

In [6]:
d={}
n=int(input())
for i in range(n):
    name=input("Enter name")
    score=int(input("Enter score"))
    d[name]=score
l=list(d.items())
l

3
Enter namelalli
Enter score23
Enter nameDevi
Enter score15
Enter namemani
Enter score12

[('lalli', 23), ('Devi', 15), ('mani', 12)]

In [8]:
d={}
n=int(input())
for i in range(n):
    name=input("Enter name")
    score=int(input("Enter score"))
    d[name]=score
l_scores=list(d.values())
l_name=list(d.keys())
print(l_scores)
print(l_name)

3
Enter namelalli
Enter score23
Enter namedevi
Enter score15
Enter namemani
Enter score17
[23, 15, 17]
['lalli', 'devi', 'mani']

In [2]:
d={}
n=int(input())
for i in range(n):
    name=input("Enter name")
    score=int(input("Enter score"))
    d[name]=score
sorted(d.values())
print(d)

3
Enter nameLalli
Enter score23
Enter namedevi
Enter score17
Enter namemani
Enter score20
{'Lalli': 23, 'devi': 17, 'mani': 20}

In [8]:
d={}
n=int(input())
for i in range(n):
    name=input("Enter name")
    score=int(input("Enter score"))
    d[name]=score
d=sorted(d.values())
d

3
Enter namelalli
Enter score23
Enter namedevi
Enter score17
Enter namemani
Enter score20

[17, 20, 23]

In [1]:
d={}
n=int(input())
for i in range(n):
    name=input("Enter name")
    score=int(input("Enter score"))
    d[name]=score
l=list(sorted(d.values(),reverse=True))
rank={}
r=0
for i in l:
    r=r+1
    for j in d.items():
        if i==j[1]:
            rank[j[0]]=r
print(rank)

5
Enter nameLallo
Enter score2
Enter namemani
Enter score15
Enter nameranga
Enter score59
Enter namedevi
Enter score70
Enter namelalitha
Enter score23
{'devi': 1, 'ranga': 2, 'lalitha': 3, 'mani': 4, 'Lallo': 5}

In [6]:
# given two integers find the no.of common factors
a=int(input())
b=int(input())
if(a>b):
    s=b
else:
    s=a
for i in range(1,s):
    if(a%i==0 and b%i==0):
        print(i,end=" ")

10
20
1 2 5

In [5]:
d={}
n=int(input())
for i in range(n):
    name=input("Enter name")
    score=int(input("Enter score"))
    d[name]=score
l=list(sorted(d.values(),reverse=True))
rank={}
r=0
for i in l:
    r=r+1
    for j in d.items():
        if i==j[1]:
            rank[j[0]]=r
print(rank)

5
Enter nameLalli
Enter score10
Enter nameDevi
Enter score20
Enter nameMani
Enter score20
Enter nameLalitha
Enter score30
Enter namedevi lalitha
Enter score25
{'Lalitha': 1, 'devi lalitha': 2, 'Devi': 4, 'Mani': 4, 'Lalli': 5}

In [7]:
n=int(input())
s={}
for i in range(n):
    name=input("Enter name")
    marks=int(input("Enter marks"))
    s[name]=marks
print(s)

3
Enter namelalitha
Enter marks90
Enter namedevi
Enter marks75
Enter namemani
Enter marks23
{'lalitha': 90, 'devi': 75, 'mani': 23}

In [9]:
n=int(input())
s={}
for i in range(n):
    name=input("Enter name")
    marks=int(input("Enter marks"))
    s[name]=marks
li=sorted(s.values())
li

5
Enter namelalli
Enter marks90
Enter namedevi
Enter marks23
Enter namemani
Enter marks78
Enter namelalitha
Enter marks45
Enter namenarmada
Enter marks82

[23, 45, 78, 82, 90]

In [21]:
n=int(input())
s={}
for i in range(n):
    name=input("Enter name")
    marks=int(input("Enter marks"))
    s[name]=marks
li=sorted(s.values(),reverse=True)
rank1={}
k=0
for i in li:
    k=k+1
    for j in s.items():
        if i==j[1]:
            print(j[0],":",k)

5
Enter nameLalli
Enter marks90
Enter namemani
Enter marks75
Enter namedevi
Enter marks95
Enter namenarmada
Enter marks35
Enter namedevi lalitha
Enter marks66
devi : 1
Lalli : 2
mani : 3
devi lalitha : 4
narmada : 5

In [32]:
#display salaries who got greather than 10,000
sample={'Lalitha':23000,"mani":5000,"devi":24500,"xyz":10000,"abc":8000}
for i in sample.values():
    print(i)
for i in sample.keys():
    print(i)
for i in sample.items():
    print(i)

23000
5000
24500
10000
8000
Lalitha
mani
devi
xyz
abc
('Lalitha', 23000)
('mani', 5000)
('devi', 24500)
('xyz', 10000)
('abc', 8000)

In [34]:
for i in sample.items():
    print(i[0],i[1])

Lalitha 23000
mani 5000
devi 24500
xyz 10000
abc 8000

In [35]:
for i in sample.items():
    if i[1]>=10000:
        print(i[0],":",i[1])

Lalitha : 23000
devi : 24500
xyz : 10000

In [58]:
n=int(input())
li=[]
for i in range(n):
    ele=int(input())
    li.append(ele)
l2=sorted(li,reverse=True)
c=(l2.count(max(l2)))
if(c==1):
    print(l2[1])
elif c>=2:
    print(l2[c])

5
-7
-7
-6
-7
-7
-7

In [57]:
n=int(input())
li=[]
s=input()
s=s.split()
for i in range(n):
    li.append(s[i])
l2=sorted(li,reverse=True)
c=(l2.count(max(l2)))
if(c==1):
    print(l2[1])
elif c>=2:
    print(l2[c])

5
-7-7-7-6-7

IndexError: list index out of range

In [59]:
age=23
txt="Hello"
print(txt.format(age))

Hello

In [67]:
# www.HackerRank.Com
# WWW.hACKErANK.cOM
s=input()
s1=""
s1=s.swapcase()
s1

DeviLalitha@gmail.com

'dEVIlALITHA@GMAIL.COM'

In [ ]:
# Highest Frequent element in the List
#[1,1,1,1,2,3,2,3,1,1,2,1,1,4,2]
#output:1
#First Highest Frequcny
1
#second Higest frequency
#[1,1,1,1,4,4,5,5,5,]
# 5
#Nth Highest Frequency
#

In [69]:
def unique_list(li):
    unique=[]
    for i in range(len(li)):
        if li[i] not in unique:
            unique.append(li[i])
    return unique
unique_list([1,1,1,1,2,3,2,3,1,1,2,1,1,4,2])

[1, 2, 3, 4]

In [70]:
unique_list([1,1,2,4,6,6,5,3,7,8,7,8])

[1, 2, 4, 6, 5, 3, 7, 8]

In [71]:
def unique_list(li):
    unique=[]
    for i in range(len(li)):
        if li[i] not in unique:
            unique.append(li[i])
    return unique
def frequency_unique(li):
    u=unique_list(li)
    d={}
    for i in u:
        d[i]=li.count(i)
    return d
frequency_unique([1,1,1,1,2,3,2,3,1,1,2,1,1,4,2])

{1: 8, 2: 4, 3: 2, 4: 1}

In [73]:
## Highest Frequent element in the List
#[1,1,1,1,2,3,2,3,1,1,2,1,1,4,2]
#output:1
def unique_list(li):
    unique=[]
    for i in range(len(li)):
        if li[i] not in unique:
            unique.append(li[i])
    return unique
def frequency_unique(li):
    u=unique_list(li)
    d={}
    for i in u:
        d[i]=li.count(i)
    return d
def find_High_fre(li):
    u=unique_list(li)
    d=frequency_unique(u)
    m=max(d.values())
    print(m)
find_High_fre([1,1,1,1,2,3,2,3,1,1,2,1,1,4,2])

1

In [90]:
## Highest Frequent element in the List
#[1,1,1,1,2,3,2,3,1,1,2,1,1,4,2]
#output:1
def unique_list(li):
    unique=[]
    for i in range(len(li)):
        if li[i] not in unique:
            unique.append(li[i])
    return unique
def frequency_unique(li):
    u=unique_list(li)
    d={}
    for i in u:
        d[i]=li.count(i)
    return d
def find_High_fre(li):
    u=unique_list(li)
    d=frequency_unique(u)
    m=max(d.values())
def second_high_fre(li):
    m=find_High_fre(li)
    u=unique_list(li)
    d=frequency_unique(u)
    max1=max(d.values())
    max2=min(d.values())
    for i in d.keys():
        print(i)
second_high_fre([1,1,1,1,2,3,2,3,1,1,2,1,1,4,2])

1
2
3
4

In [104]:
## Highest Frequent element in the List
#[1,1,1,1,2,3,2,3,1,1,2,1,1,4,2]
#output:1
def unique_list(li):
    unique=[]
    for i in range(len(li)):
        if li[i] not in unique:
            unique.append(li[i])
    return unique
def frequency_unique(li):
    u=unique_list(li)
    d={}
    for i in u:
        d[i]=li.count(i)
    return d
def find_High_fre(li):
    u=unique_list(li)
    d=frequency_unique(u)
    m=max(d.values())
    return m

{'Lalli': 10, 'Devi': 20, 'Mani': 20, 'Lalitha': 30, 'devi lalitha': 25}

13
aahkcreeatrha

IndexError: list assignment index out of range

In [109]:
alpha=list("hackerearth")
alpha

['h', 'a', 'c', 'k', 'e', 'r', 'e', 'a', 'r', 't', 'h']

In [113]:
## Highest Frequent element in the list

def HighestFrequency(L):
    d={}
    for i in L:
        count=L.count(i)
        if i not in d:
            d[i]=count
    return d
d

{1: 6, 2: 8, 3: 3, 4: 2, 5: 1}

In [114]:
def HighestFrequency(L):
    d={}
    for i in L:
        count=L.count(i)
        if i not in d:
            d[i]=count
    return d
d=HighestFrequency([1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,4,4,5])
max_val=max(d.values())
for i in d.items():
    if i[1] ==max_val:
        print(i[0])

2

In [121]:
def HighestFrequency_2ndLargest(L):
    d={}
    for i in L:
        count=L.count(i)
        if i not in d:
            d[i]=count
    return d
d=HighestFrequency([1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,4,4,5])
L=sorted(d.values(),reverse=True)
max_val=L[1]
for i in d.items():
    if i[1] ==max_val:
        print(i[0])

1

In [125]:
def xyz():
    L=[1,1,1,2,2,3]
    d={}
    for i in L:
        count=L.count(i)
        if i not in d:
            d[i]=count
    return d
d=HighestFrequency(L)
L=sorted(d.values(),reverse=True)
max_val=L[1]
for i in d.items():
    if i[1] ==max_val:
        print(i[0])

8
6
3
2
1

In [ ]:
s=""